attrs==19.3.0
backcall==0.1.0
bokeh==2.0.1
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
Fiona==1.8.13.post1
flake8==3.7.9
Flask==1.1.2
geopandas==0.7.0
gunicorn==20.0.4
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
munch==2.5.0
numpy==1.18.2
packaging==20.3
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pyparsing==2.4.7
pyproj==2.6.0
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
PyYAML==5.3.1
Shapely==1.7.0
six==1.14.0
traitlets==4.3.3
typing-extensions==3.7.4.2
wcwidth==0.1.9
Werkzeug==1.0.1
