{% extends "stats.html" %}
{% block content %}
<div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-lg-6">
            {{ cases|safe }}
        </div>
        <div class="col-lg-6">
            {{ cases_log|safe }}
        </div>
    </div>
</div>
<div class="container section" id="daily">
    <div class="row footer mt-2">
        <div class="col-12">
            <h5 class="mt-3">Дневные данные</h5>
        </div>
    </div>
    <div class="row mt-2 mb-2 pb-5">
        <div class="col-sm-12 ml-auto">
            {{ daily_plot|safe }}
        </div>
    </div>
</div>
<div class="container section" id="age">
    <div class="row footer mt-2">
        <div class="col-12">
            <h5 class="mt-3">Возрастное распределение выявленных</h5>
        </div>
    </div>
    <div class="row mt-2 mb-1 pb-5">
        <div class="col-sm-12 ml-auto">
            {{ age_plot|safe }}
        </div>
    </div>
</div>
<div class="container section" id="hospitals">
    <div class="row footer mt-2">
        <div class="col-12">
            <h5 class="mt-3">Больницы</h5>
        </div>
    </div>
    {% for hospital in hospitals %}
    <div class="row mt-4">
        <div class="col-sm-4">
            <h5><a class="nav-link pl-0 pt-0" target="blank" href="{{ hospital.link }}">{{ hospital.name|safe}}</a></h5>
        </div>
        <div class="col-sm-4 pb-0">
            <span class="blue-font" style="font-weight: 400;">Главврач:</span> {{ hospital.cmo }}
        </div>
        <div class="col-sm-4 pb-0">
            <span class="blue-font" style="font-weight: 400;">Адрес:</span> {{ hospital.address }}
        </div>
    </div>
    <div class="row mt-2 mb-2 pb-5" {% if not loop.last %} style="border-bottom: 0.05rem solid #07376333;" {% endif %}>
        <div class="col-sm-12 ml-auto">
            {{ hospital.plot|safe }}
        </div>
    </div>
    {% endfor %}
</div>
<div class="container section" id="transport">
    <div class="row footer mt-2">
        <div class="col-12">
            <h5 class="mt-3">Транспорт</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ public_transport|safe }}
        </div>
        <div class="col-sm-4">
            {{ private_transport|safe }}
        </div>
        <div class="col-sm-4">
            <dl class="row mt-3 medium-font">
                {% for tr_stat in tr_stats %}
                <dt class="col-sm-6 mt-2">
                    {{ tr_stat.name }}
                </dt>
                <dd class="col-sm-6 mt-2">
                    {{ "%.f" | format(tr_stat.value) }} %
                </dd>
                {% endfor %}
            </dl>
          </div>
    </div>
</div>
{{ bokeh_script|safe }}
{% endblock %}