{% extends "base.html" %}
{% set stats_width = 12 // stats|length %}
{% macro embed(obj) -%}
    <div class="bk-root" id="{{ obj.elementid }}"{% if obj.id %} data-root-id="{{ obj.id }}"{% endif %}></div>
{%- endmacro %}
{% block stats %}
<div class="container">
    <div class="row">
        {% for stat in stats %}
        <div class="col-lg-{{ stats_width }} col-md-6 mb-4 mt-2">
                <h3 class="main-card custom-font {{ stat['color_class'] }}">
                    <sup><i class="fa {{ stat['icon_class']}}"></i></sup>
                    {{ "%.f" | format(stat.value) }}<sup>{{ "%+.f" | format(stat.diff) }}</sup>
                </h3>
                <h4 class="main-card">{{ stat.text }}</h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block content %}{% endblock %}